/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
/* Variabes */  
/*$orange: #ffa600;
$grey:#f3f3f3;
$white: #fff;
$base-color:$orange ;
*/

/* Mixin's */  
/*@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
@mixin corners ($radius) {
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius; 
-khtml-border-radius: $radius; 
}



.swrapper {
width: ;
margin: 30px auto;
color:$white;
text-align:center;
}
*/
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}
/*
sbutton{
@include corners (5px);
background:$base-color;
color:$white;
border: solid 1px $white;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
 outline: none;
  &:hover{
  @include transition;
  background:$white;
  border: solid 1px $white;
  color:$base-color;
  }
}

*/





.img-preview{
    width: 100%;
    height: 120px;
    border: 1px solid; 
    margin-bottom: 10px;
    border-color: #808080;
    background: url(../img/default-placeholder.png);
    background-size: 100% 100%;
}

.login-box,
.register-box {
    min-width: 300px;
	max-width: 460px;
	width:100%;
}

.table-responsive{
    min-height:.01%;
    overflow-x: inherit;
}
.errorClass{
    border-color: #f13e64;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-content{
    padding: 2px 20px 10px 20px;
}
.table tbody tr.active a {
    color: #555;
}
  
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}


.feeds li .col2{
    width: 130px !important;
    margin-left: -130px !important;
}

.feeds li .col1 > .cont {
  float: none !important;
  margin-right: 135px !important;
}


.col-md-9 .input-icon > .autoLeft {
    left: auto;
}

//textbox-icon-right this class creted due to the duplication in components.css and compnents-md.css same class was called in both files and but icon was not getting right align.

