/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2015, 1:45:04 PM
    Author     : usman
*/

/*
    02 TOGGLE BUTTON
    _______________________________________________  */




.pocp_button {
    position: fixed;
    z-index: 9999;
    top: 20px;
    font-size: 14px;
    color: #fff;
    text-shadow:1px 1px 1px #000;
    text-decoration: none;
    padding: 0 12px;
    background: #222d32;
    outline:none;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s 0.2s;
    -moz-transition: all 0.3s 0.2s;
    -o-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
}
.pocp_button:active,
.pocp_button:focus,
.pocp_button:hover {
    color: #fff;
}
.pocp_button i {
    font-size: 18px;
    line-height: 32px;
    padding-top: 1px;
    float: left;
}
.pocp_button_left {
    left: 20px;
}
.pocp_button_left.btn_active {
    left: 260px;
}
.pocp_button_right {
    right: 20px;
}
.pocp_button_right.btn_active {
    right: 260px;
}

.icon-minus:before{
    content: "\f068";
}