/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2015, 1:21:21 PM
    Author     : usman
*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-preview{
    width: 100%;
    height: 120px;
    border: 1px solid; 
    margin-bottom: 10px;
    border-color: #808080;
    background: url(../img/default-placeholder.png);
    background-size: 100% 100%;
}