/* ------------------------------------------------------------------ Global  */

/*Timesheet*/
/*Today Time Card*/
header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;	
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: #074E8C;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


/*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


/*
 *  STYLE 6
 */

#style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

/*
 *  STYLE 8
 */

#style-8::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}


/*
 *  STYLE 9
 */

#style-9::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*
 *  STYLE 10
 */

#style-10::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-10::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*
 *  STYLE 11
 */

#style-11::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-11::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}

/*
 *  STYLE 12
 */

#style-12::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #444444;
}

#style-12::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-12::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

/*
 *  STYLE 13
 */

#style-13::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#style-13::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-13::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

/*
 *  STYLE 14
 */

#style-14::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
}

#style-14::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-14::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}

/*
 *  STYLE 15
 */

#style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

/*
 *  STYLE 16
 */

#style-16::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-16::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-16::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
}


.wideBlock{
    width:100%;
}
.animatedBlock{
    width:215px;
    position: absolute;
    right: 0;
}
.animatedBlock > div{
    width:100%;
    position: relative;
}
.animatedBlock textarea{
    height: 71px;
    min-height: 71px;
    max-height: 71px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}
.animatedBlock input[type="text"]{
    width: 200px;
}
.animatedBlock .heading{
    font-size: 15px;
}
.animationContainer{
    overflow: hidden;
    width: 480px;
    margin: 0 auto 70px;
    position: relative;
}
.add {
    background: url("../images/iconSetNew.png") no-repeat 0px -191px transparent !important;
}
.closeBlock,.closeBlock:hover,.closeBlock:active,.closeBlock:focus{
    background: url("../images/iconSetNew.png") no-repeat 0 -322px transparent;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 1px;
    right: 0;
}
.shiftReportBlock,.mileageBlock{
    display: none;
}
.shiftMileage{
    width:260px;
}
.characterCount{
    padding: 5px 10px;
}
.characterCount.custom {
    padding: 0px 5px;
}
/*Today Time Card*/

.hourMinute,.miles{
    display: inline-block;
    color: #000;
    margin: 0 4px;
    text-transform: uppercase;
    font-size: 11px;
}
.reportCreation .hourMinute,.reportCreation .miles{
    margin: 0 !important;
}
.miles{
    color: #999;  
}
.hourMinute:last-child{
    margin-right: 0;
}
.hourMinute.time{
    color: #000;
    margin: 0 0 0 4px;
}
.out .hourMinute.time,.hours_td .hourMinute,.gridValue .hourMinute,.hoursDiv .hourMinute{
    color:#999;
}
.clockIn_th,.clockOut_th{
    text-align: right !important;
    width: 65px;
}
.clockIn_td,.clockOut_td,.hours_td,.miles_td,.miles_th,.hours_th{
    text-align: right !important;
}
.denied{
    color: #dc5a65 !important;
}
.approved{
    color: #58b887 !important;
}
.denied span,.approved span{
    display: inline-block;
    float: right;
    text-align: left;
    width:85px;
}


.timecard{
    overflow: hidden;
    width: 480px;
}
.timecard .btn-group .btn{
    width:130px;
}

.timecard .btn-group .btn:first-child{
    border-right: 1px solid #73b2a8;
    margin-right: 1px;
}
.timecard .btn-group .btn.fullWidth{
    width:250px;
    border-right:0; 
}
/*.clockInBtn,.clockOutBtn ,.clockInBtn:hover ,.clockOutBtn:hover{
    color:#fff;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    height: 100px;
    width: 100px;
    display: inline-block;
    font-family: "Lucida Grande", Arial, "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 67px; 
    margin-top: 20px;
    cursor: pointer;
}*/
.clockInBtn.disabled,.clockOutBtn.disabled ,.clockInBtn.disabled:hover ,.clockOutBtn.disabled:hover{
    background: #ddd;
    cursor: default;
}
.clockInBtn{
    background: #58b887;
    top:260px;
}
.clockOutBtn{
    background: #4B4B4B;
  
    text-decoration: none;
}

.clockOutBtn-active{
    background: #4B4B4B;
    text-decoration: none;
    /*margin-top:90px;*/
    /*margin-left:190px;*/
}


.clockInBtn:hover,.clockInBtn:focus{
    background:#4ca075;
    color:#fff;
}
.clockOutBtn:hover,.clockOutBtn:focus{
    background: #4B4B4B;
    color:#fff;
}
.clockInData{
    margin: 0 10px;
    width: 260px;
}
.breakTimeCounter{
    margin: 5px 0 15px;
    font-size: 20px;
    z-index: 0 !important
}
.breakTimeCounter.disabled{
    display:none;
}
.breakTime,.breakTimeCounter{
/*    position: absolute;*/
    top:0;
    left:50%;
    width: 146px;
    margin-left: -73px;
    text-align: center;
    z-index: 1
}
.breakTime.disabled{
    background: #dddddd !important;
    color:#fff !important;
    cursor: default;
    opacity: 1;
    filter: alpha(opacity=100);
}
.clockInBtn span,.clockOutBtn span{
    font-size: 30px;
    display: block;
    /*margin-top: -45px;*/
    font-weight: bold;
}

.clockInBtn.inActive,
.clockOutBtn.inActive,
.clockInBtn.inActive:hover,
.clockOutBtn.inActive:hover{
    background: #ddd;
}

.clockInTime,.hourCounter{
    display: block;
    text-align: center;
    margin: 18px 0 15px;
}
.clockInTime {
    margin: 48px 0 15px;
}
.hourCounter{
    font-size: 35px;
    margin-bottom: 25px;
}
.value{
    line-height: 30px;

}
.period select.input-medium{
    width: 175px;
}

.total label{
    display: inline-block;
    margin-right: 10px;
}
.total span.value{
    margin-right: 30px;
}
.total{
    margin-top: 19px;
}
.forceOut{
    color: #df6c78 ;
}
.forceOut:hover,.forceOut:active,.forceOut:focus{
    color:#dd4f5e;
}
.gridValue{
    margin-right: 30px;
}
.tab-content{
    overflow: hidden;
}
input.hasDatepicker{
    /*text-transform:uppercase;*/ 
}
/*Timesheet*/

/* ------------------------------------------------------------------ Content */

.timecard-wapper{
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
    height: 245px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.bye_msg{
    font-family:'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size:24px;
    color:#7b8cb8;
}

.timecard-wapper.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.timecard-wapper .dimmed,.timecard-wapper .dimmed:hover{
    opacity: 1;
    background: #b7e3e0;
}
.front,.back{
    border: 2px solid #ededed;
    border-radius: 5px;
    display: block;
    position: absolute;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    padding-left:40px;
    height:100%;
    width:65%;
}
.back{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    background: rgba(237, 237, 237, 0.4);
    z-index: 0;
}
.front{
    z-index: 1;
}

.back.view{
    z-index: 2;
}
.notesMilesForm{
    width:500px; 
    margin: 0 auto;
}
.notesMilesForm.milesOnlyForm {
    width: 219px;
    margin: 60px auto;
}
.notesMilesForm .control-group{
    margin-bottom: 0;
}
.notesMilesForm.milesOnlyForm .control-group{
    margin-bottom: 20px;
}
.notesMilesForm .control-label {
    width: 45px;
}
.notesMilesForm .controls {
    margin-left: 65px;
}
.notesMilesForm input[type=text]{
    width: 100px;
}
.notesMilesForm.milesOnlyForm input[type=text] {
    width: 140px;
}
.notesMilesForm textarea{
    height:78px;
    max-height: 78px;
    min-height: 78px;
    width: 420px;
    max-width: 420px;
    min-width: 420px;
    resize:none;
}
.notesMilesForm button{
    margin-left: 10px;
    float:right;
}
.timecard-wapper .leftBlock,.timecard-wapper .rightBlock{
    width: 200px;
    height: 200px;
    position: relative;
}
.timecard-wapper .leftBlock{
    width: 205px;
}
.timecard-wapper h3{
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.timecard-wapper .statusCell{
    margin-top:-3px;
}
.buttonBlocks{
    width: 221px;
    float: left;
    margin: 0 30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-left--70{
    margin-left: -70px;
}

/*
.clockInBtn,.clockOutBtn,.lunchBtn,.endLunchBtn{
    font-size: 22px;
    font-weight: bold;
    color:#fff;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px !important;
    height: 100px;
    width: 100px;
    text-decoration: none;
    line-height: 100px;
    display: inline-block;
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    /*left: 345px;*/
    /*top: 140px;*/
    /*position: absolute;*/
/*}
*/
.clockInBtn, .clockOutBtn, .lunchBtn, .endLunchBtn {
    border-radius: 500px !important;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Avenir Next","Avenir Next LT W01 SC","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 35px;
    font-weight: bold;
    height: 125px;
    line-height: 125px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 125px;
    margin-bottom:60px;
}
.workingHours.workTimeCounter {
   margin-bottom:20px;
}

.hourTime{
    margin-left: 0px !important;
    margin-top:0px !important; 
    left: 45px !important; 
    top: 90px !important;
    font-size:28px !important;
}

.hourLunch{
    margin-left: 0px !important;
    margin-top:0px !important; 
    left: 45px !important; 
    top: 90px !important;
    font-size:28px !important;
}
.endLaunchBtn {
height: 125px;
line-height: 35px;
padding-top: 20px;
text-decoration: none;
width: 125px;

}
/*
.endLunchBtn{
    line-height: 26px;
    padding-top: 20px;
    height: 80px;
    /*left: 40%;*/ 
    /*text-decoration: none;
   
    width:95px;
    height:90px;
}
*/
.endLunchBtn-active{
     line-height: 26px;
    padding-top: 20px;
    height: 80px;
    top: 70px; 
    left: 255px; 
    text-decoration: none;
   
    width:95px;
    height:90px;
    
/*     margin-top:30px;*/
     margin-left:70px;
}



.lunchBtn{
    background: #3498DC;
    /*margin-right: 20px;*/
    
    text-decoration: none;
}

.lunchBtn-active{
    background: #3498DC;
    /*margin-right: 20px;*/
    
    text-decoration: none;
/*    margin-top:90px;*/
    /*margin-left:-140px;*/
    
}

lunchBtn-dt{
    margin-top:0px;
    margin-left: 0px;
}

clockOutBtn-dt{
    margin-top:0px;
    margin-left: 0px;
}

.lunchBtn:hover,.lunchBtn:active,.lunchBtn:focus{
    background: #257BB5;
    color:#fff;
}
.clockInBtn{
    background: #6ec038;
    text-decoration: none;
    top:0px;
}
.clockOutBtn,.endLunchBtn{
    background: #4B4B4B;
}
.clockInBtn:hover,.clockInBtn:active,.clockInBtn:focus{
    background:#5fa630;
    color:#fff;
}
.clockOutBtn:hover,.clockOutBtn:active,.clockOutBtn:focus,
.endLunchBtn:hover,.endLunchBtn:active,.endLunchBtn:focus{
    background: #4B4B4B;
    color:#fff;
}

.note-text{
    width:100%;
    height:200px;
}

.workingHours{
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    left: 40%;
    margin-left: -74px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 150px;
    display:block;
}
.workingHours span.small {
    font-size: 30px;
    color: #5b5b5b;
    font-weight: normal;
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
}
.workingHours.paused,.workingHours.paused span.small{
    color:#ccc;
}
.workingHours.lunchTimer{
    display: none;
    font-size: 25px;
    left: 120px;
    top: 68px !important;
    margin: 0 !important;
}
.workingHours.lunchTimer span.small{
    font-size: 20px;
}
.noteAndMiles{
    width: 185px;
    border: 1px solid #ededed;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 28px;
    position: relative;
    cursor: pointer;
}
.noteAndMiles.one-row {
    margin-top: 55px;
}
.notesAndMilesPlaceHolder{
    margin:0;
    font-size: 14px;
    color:#b0b0b0;   
}
.noteAndMiles label{
    line-height: 10px;
    cursor: pointer;
}
.noteAndMiles.milesOnly label,
.noteAndMiles.emptyNotes label{
    float: left;
    line-height: 22px;
    margin: 0 10px 0 0;   
}
.noteAndMiles.milesOnly .notes,
.noteAndMiles.emptyNotes .miles {
    padding: 13px 10px;
}
.noteAndMiles .notes,.noteAndMiles .miles{
    padding: 10px;
    width: 145px;
    margin: 0;
    overflow: hidden;
    float: left;
}
.noteAndMiles .openCard{
    width: 20px;
    background: url("../images/whiteArrow.png") no-repeat center center #70C7C2;
    border-radius: 0 4px 4px 0;
    border: 1px solid #70C7C2;
    position: absolute;
    height: 100%;
    padding: 0;
    top: -1px;
    right: -1px;
    bottom: -1px;
    box-sizing: content-box;
}
.noteAndMiles .openCard:hover, .noteAndMiles:hover .openCard{
    background-color: #73b2a8;
}
.timeline{
    background: #e5e5e5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  #e5e5e5 63%, #ffffff 100%); 
    background: -webkit-gradient(linear, left top, right top, color-stop(63%,#e5e5e5), color-stop(100%,#ffffff)); 
    background: -webkit-linear-gradient(left,  #e5e5e5 63%,#ffffff 100%); 
    background: -o-linear-gradient(left,  #e5e5e5 63%,#ffffff 100%); 
    background: -ms-linear-gradient(left,  #e5e5e5 63%,#ffffff 100%); 
    background: linear-gradient(to right,  #e5e5e5 63%,#ffffff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); */
    width: 100%;
    margin: 30px 0;
    padding: 3px !important;
    float: left;
    height: 6px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}
.timecard-wapper .timeline span{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    min-width: 6px;
}
.hideCol{
    color:transparent;
}
.lunchTime,.workTime{
    height: 6px;
    display: inline-block;
    float: left;
}
.workTime{
    background: #6ec038;
}
.lunchTime{
    background: #f1d130; 
    /*border-left:1px solid #fff;*/
    /*border-right:1px solid #fff;*/
}
.startline{
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}
.endline{
    /*border-right:1px solid #49756e;*/
}
.lunchTime.endline{
    /*border-right:1px solid #b18001;*/
}
.indicator {
    width: 12px;
    height: 12px;
    position: relative;
    background: #6EC038;
    float: right;
    margin: -4px -8px 0 0;
    border-radius: 50%;
    border: 1px solid #5FA630;
    box-shadow: 1px 0px 1px rgba(0,0,0,0.2), 1px 1px 0px rgba(255,255,255,0.2) inset;
}
.lunchTime .indicator{
    background: #f1d130;
    border-color: #F1AE00;
}
.clocks{
    position: absolute;
    bottom: 15px;
}
.clocks ul {
    margin:0;
    padding:0;
    list-style: none;
}
.clocks ul li,.clocks ul li .hourMinute.time{
    color:#555; 
    line-height: 16px;
}
.duration{
    margin-left: 5px;
    font-size: 11px;
    color:#b0b0b0;  
}
.clocks ul li.hover:hover,.clocks ul li.hover:hover .hourMinute.time{
    color:#555;  
    cursor: pointer;
}
.clocks ul li:hover  .duration{
    display:inline; 
}
.in-circle,.out-circle,.lunch-circle{
    -moz-border-radius: 50px;
    -webkit-order-radius: 50px;
    border-radius: 50px;
    height: 6px;
    width: 6px;
    margin: 0 4px 1px 0;
    display: inline-block;
    background: #58b887;
}
.out-circle{
    background: #dc5a65;
}
.lunch-circle{
    background: #f2af00;
}
.timecardTime{
    position: relative;
    top: 20px;
    left: 195px;
}
.timecardTime .hours,.timecardClockTime{
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px !important;
    display: inline;
}
.timecardTime span{
    font-size: 16px;
    font-weight: normal;
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline;
}
.timecard-wapper .left-note{
    width:35%;
    height:100%;
    min-height: 250px;
}



.timecard-wapper .front h2{
    font-family:'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size:20px;
    color:#7b8cb8;
}

.timecard-wapper .nte-add-btn{
    position: absolute;
    bottom: 6px;
    width: auto;
    height: auto;
    margin: 0 auto;
    left: 40%;
}


.timecardText{
    font-size: 18px;
    position: relative;
    top: 60px;
    left: -255px;
    width: 280px;
    display: block;
    text-align: right;
    height: 40px;
}

.foggy-pass-relative .lunchBtn,
.foggy-pass-absolute .lunchBtn,
.foggy-pass-relative .clockOutBtn,
.foggy-pass-absolute .clockOutBtn,
.foggy-pass-relative .endLunchBtn,
.foggy-pass-absolute .endLunchBtn,
.foggy-pass-relative .clockInBtn,
.foggy-pass-absolute .clockInBtn{
    top:50px !important;
    margin-left: -20px;
}

@media only screen and (max-width: 600px){
    canvas{
        width:180px !important;
    height:180px !important;
    margin-left: 10px;
    margin-top: 10px;
    }
.hourLunch{
    font-size:30px !important;
}
}

@media only screen and (max-width:480px){
    canvas{
                width: 220px !important;
    height: 220px !important;
    margin-left: -19px;
    }
    .hourTime{
        font-size:32px !important;
        left: 30px !important;
        top: 105px !important;
    }
    .lunchBtn-active{
/*       margin-top: 135px; */
    }
    .clockOutBtn-active{
/*        margin-top: 135px;*/
    }
    .clockInBtn,.clockOutBtn,.lunchBtn,.endLunchBtn{
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px !important;
    height: 70px;
    width: 70px;
    text-decoration: none;
    line-height: 73px;
    display: inline-block;
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    /*left: 345px;*/
    /*top: 140px;*/
/*    position: absolute;*/
}
.hourLunch{
    font-size:38px !important;
    left: 17px !important;
    top: 100px !important;
}.endLunchBtn{
    line-height:16px;
    font-size: 15px;
    padding-top: 15px;
}
.clockInBtn{
    height: 100px;
    width: 100px;
    font-size: 28px;
    line-height: 100px;
}
}

@media only screen and (max-width:380px){
    canvas{
                width: 200px !important;
    height: 200px !important;
    margin-left: -16px;
    }
    .hourTime{
        font-size: 28px !important;
    left: 33px !important;
    top: 90px !important;
    }
    .lunchBtn-active{
/*        margin-top:100px;*/
    }
    .clockOutBtn-active{
/*        margin-top:100px;*/
    }
    .workingHours{
        width:90px;
        margin-left:-70px;
    }
/*    .clockInBtn,.clockOutBtn,.lunchBtn,.endLunchBtn{
    font-size: 11px;
    font-weight: bold;
    color:#fff;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px !important;
    height: 50px;
    width: 50px;
    text-decoration: none;
    line-height: 52px;
    display: inline-block;
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    left: 345px;
    top: 140px;
    position: absolute;
}*/
/*.endLunchBtn{
    line-height:10px;
    height: 55px;
    width: 55px;
}*/
.hourLunch{
    font-size:26px !important;
    margin-left: 15px !important;
}
}
.timeLogLabel{
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: gray;
    text-transform:inherit;
}
.timeLogValue{
    font-family: 'Avenir Next','Avenir Next LT W01 SC','Helvetica Neue', Helvetica, Arial, sans-serif;
/*    font-weight: bold;*/
    font-size: 14px;
    color: gray;
    text-transform:inherit;
}